Executables/**
.ipynb_checkpoints/
__pycache__/
*.c
*.o
*.json
.DS_Store
*.html
*.pkl
*.parquet
*.pyc
*.pyo
*.pyd
*.egg-info/

# Keeping example colliders
!examples/run_xmask_jobs/colliders/*.json


# Only keep filling schemes from Machines
Machines/**
!Machines/FillingSchemes/
!Machines/FillingSchemes/*.json

# Ignore everything in the studies directory
studies/*
# Except .gitkeep files
!studies/.gitkeep